@font-face {
  font-family: "Brandon Grotesque";
  font-weight: 400;
  font-style: normal;
  src: url("BrandonGrotesque-Regular.eot");
  src: local("Brandon Grotesque Regular"), local("BrandonGrotesque-Regular"),
    url("BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"),
    url("BrandonGrotesque-Regular.woff2") format("woff2"),
    url("BrandonGrotesque-Regular.woff") format("woff"),
    url("BrandonGrotesque-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon Grotesque";
  font-weight: 800;
  font-style: normal;
  src: url("BrandonGrotesque-Black.eot");
  src: local("Brandon Grotesque Black"), local("BrandonGrotesque-Black"),
    url("BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"),
    url("BrandonGrotesque-Black.woff2") format("woff2"),
    url("BrandonGrotesque-Black.woff") format("woff"),
    url("BrandonGrotesque-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon Text";
  font-weight: 400;
  font-style: normal;
  src: url("BrandonTextRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon Text";
  font-weight: 400;
  font-style: italic;
  src: url("BrandonTextRegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon Text";
  font-weight: 500;
  font-style: normal;
  src: url("BrandonTextMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon Text";
  font-weight: 500;
  font-style: italic;
  src: url("BrandonTextMediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Eames Century Modern";
  font-weight: 700;
  font-style: normal;
  src: url("EamesCenturyModern-Bold.eot");
  src: local("Eames Century Modern Bold"), local("EamesCenturyModern-Bold"),
    url("EamesCenturyModern-Bold.eot?#iefix") format("embedded-opentype"),
    url("EamesCenturyModern-Bold.woff2") format("woff2"),
    url("EamesCenturyModern-Bold.woff") format("woff"),
    url("EamesCenturyModern-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Eames Century Modern";
  font-weight: 300;
  font-style: italic;
  src: url("EamesCenturyModern-BookItalic.eot");
  src: local("Eames Century Modern Book Italic"),
    local("EamesCenturyModern-BookItalic"),
    url("EamesCenturyModern-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("EamesCenturyModern-BookItalic.woff2") format("woff2"),
    url("EamesCenturyModern-BookItalic.woff") format("woff"),
    url("EamesCenturyModern-BookItalic.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
